## Elaborado pelo Aluno: João Carvalho - Nº 20091742
----
# Exercicios


#### Dado o presente dataset determiar 

- Qual o preço maximo, minimo e médio
- qual a média da população do dataset
- qual a média do número de quartos para ocupações médias de 1,2,3,4 e 5 pessoas
- que preços médios existem para casas de 20-25, 25-30, 30-35 e 35-40 anos de idade (intervalos de valores)

In [5]:
# Start by importing some modules
import sklearn.datasets as datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#import data to variable
data = datasets.california_housing.fetch_california_housing()

# Vamos criar um dataframe com base nestes dados
dframe = pd.DataFrame(data = data.data, columns=data.feature_names)


new_data = np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
names = data.feature_names + ['Preços']
dframe = pd.DataFrame(data=new_data, columns=names)

#dframe.head()

###PROF
#dframe.aggregate(["max", "min", "mean"]).loc[:,"AveRooms"]
#dframe.aggregate("mean")["Population"]
#a = dframe.loc[:, 'AveOccup'].round()
#dframe.groupby(a).agg('mean').loc[:5,'AveRooms']

#filter = dframe['AveOccup']>=6
#dframe.loc[filter, :]

#(dframe['Population']/10).round()*10
#dframe.loc[(dframe['Population'] > 1000) & (dframe['AveOccup']<2),]

###PROF

allRound = (dframe['HouseAge']/5).round()*5
df0 = dframe.groupby(allRound).agg('mean')
#df0.loc[20:25,["HouseAge","Preços"]].agg('mean')
r1 = df0.loc[20:25,['Preços']].agg('mean')
r2 = df0.loc[25:30,['Preços']].agg('mean')
r3 = df0.loc[30:35,['Preços']].agg('mean')
r4 = df0.loc[35:40,['Preços']].agg('mean')

new_data2 = np.concatenate((np.array(r1).reshape(1,-1), np.array(r2).reshape(1,-1), np.array(r3).reshape(1,-1), np.array(r4).reshape(1,-1)), axis=1)
col_names2 = ['Preços [20-25]', 'Preços [25-30]', 'Preços [30-35]', 'Preços [35-40]']
dframe2 = pd.DataFrame(data=new_data2, columns=col_names2)
print(dframe2)

   Preços [20-25]  Preços [25-30]  Preços [30-35]  Preços [35-40]
0   203967.242475   206674.982946   205696.152776      204716.683