## Elaborado pelo Aluno: João Carvalho - Nº 20091742
----
# Exercicios


#### Dado o presente dataset determiar 

- Qual o preço maximo, minimo e médio
- qual a média da população do dataset
- qual a média do número de quartos para ocupações médias de 1,2,3,4 e 5 pessoas
- que preços médios existem para casas de 20-25, 25-30, 30-35 e 35-40 anos de idade (intervalos de valores)

In [1]:
# Start by importing some modules
import sklearn.datasets as datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#import data to variable
data = datasets.california_housing.fetch_california_housing()

# Vamos criar um dataframe com base nestes dados
dframe = pd.DataFrame(data = data.data, columns=data.feature_names)


new_data = np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)
names = data.feature_names + ["Preços"]
dframe = pd.DataFrame(data=new_data, columns=names)

#dframe.head()

####PROF
#dframe.aggregate(["max", "min", "mean"]).loc[:,"AveRooms"]
#dframe.aggregate("mean")["Population"]
#a = dframe.loc[:, 'AveOccup'].round()
#dframe.groupby(a).agg('mean').loc[:5,'AveRooms']

#filter = dframe['AveOccup']>=6
#dframe.loc[filter, :]

#(dframe['Population']/10).round()*10
#dframe.loc[(dframe['Population'] > 1000) & (dframe['AveOccup']<2),]

####PROF

allRound = (dframe['HouseAge']/5).round()*5
df0 = dframe.groupby(allRound).agg('mean')
#df0.loc[20:25,["HouseAge","Preços"]].agg('mean')
r1 = df0.loc[20:25,["Preços"]].agg('mean')
r2 = df0.loc[25:30,["Preços"]].agg('mean')
r3 = df0.loc[30:35,["Preços"]].agg('mean')
r4 = df0.loc[35:40,["Preços"]].agg('mean')

new_data2 = np.concatenate((np.array(r1).reshape(1,-1), np.array(r2).reshape(1,-1), np.array(r3).reshape(1,-1), np.array(r4).reshape(1,-1)), axis=1)
col_names2 = ["Preços [20-25]", "Preços [25-30]", "Preços [30-35]", "Preços [35-40]"]
dframe2 = pd.DataFrame(data=new_data2, columns=col_names2)
dframe2

0        41.0
1        21.0
2        52.0
3        52.0
4        52.0
5        52.0
6        52.0
7        52.0
8        42.0
9        52.0
10       52.0
11       52.0
12       52.0
13       52.0
14       52.0
15       50.0
16       52.0
17       52.0
18       50.0
19       52.0
20       40.0
21       42.0
22       52.0
23       52.0
24       52.0
25       41.0
26       49.0
27       52.0
28       50.0
29       52.0
         ...
20610    28.0
20611    27.0
20612    26.0
20613    31.0
20614    26.0
20615    23.0
20616    15.0
20617    20.0
20618    25.0
20619    22.0
20620    40.0
20621    37.0
20622    20.0
20623    32.0
20624    16.0
20625    37.0
20626    36.0
20627     5.0
20628    19.0
20629    28.0
20630    11.0
20631    15.0
20632    15.0
20633    27.0
20634    28.0
20635    25.0
20636    18.0
20637    17.0
20638    18.0
20639    16.0
Name: HouseAge, Length: 20640, dtype: float64